<div class="filter-container">
    <form #filterForm="ngForm" class="row">
        <div class="col-md-4">
            <label for="supertype">Supertype</label>
            <select class="form-control" id="supertype" name="supertype" [(ngModel)]="filters.supertype"
                (change)="search()">
                <option [ngValue]="null">All</option>
                <option *ngFor="let supertype of supertypes" [ngValue]="supertype">{{ supertype }}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="types">Type</label>
            <select class="form-control" id="types" name="types" [(ngModel)]="filters.types" (change)="search()">
                <option [ngValue]="null">All</option>
                <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="pageSize">Number of cards per page</label>
            <select class="form-control" id="pageSize" name="pageSize" [(ngModel)]="filters.pageSize"
                (change)="search()">
                <option [ngValue]="20">20</option>
                <option [ngValue]="40">40</option>
                <option [ngValue]="60">60</option>
                <option [ngValue]="80">80</option>
                <option [ngValue]="100">100</option>
            </select>
        </div>
    </form>
</div>