@import '~src/styles/_variables';

.filter-container {
    margin: 1rem 0;
    padding: 0.4rem;
    border-radius: 6px;
    border: 1px solid $primary-light-color;

    .form-control:focus {
        border-color: $accentuation-light-color;
        box-shadow: none;
    }
}