<div *ngFor="let cardWhitQuantity of cardsWhitQuantity" class="my-cart-content"
    [ngClass]="{'my-cart-content--without-border': isLastItem(cardWhitQuantity)}">
    <div class="card-image" (click)="goToCardDetail(cardWhitQuantity.card?.id)">
        <img [src]="cardWhitQuantity.card?.imageUrl" alt="image">
    </div>
    <div class="card-info">
        <div class="name">Name : {{ cardWhitQuantity.card?.name }}</div>
        <div class="price">Unit price : {{ cardWhitQuantity.card?.price }} €</div>
        <div class="quantity">Quantity : {{ cardWhitQuantity.quantity }}</div>
    </div>
    <div class="spacer"></div>
    <div class="actions">
        <div class="quantity" (click)="addQuantity(cardWhitQuantity.card)">
            <i class="material-icons material-icons--add">add</i>
        </div>
        <div class="remove" (click)="deleteCard(cardWhitQuantity)">
            <i class="material-icons material-icons--delete">remove</i>
        </div>
    </div>
</div>

<div *ngIf="nbCards === 0" class="my-cart-content my-cart-content--without-border">
    <div class="empty-message">
        Your Shopping Cart is empty.
    </div>
</div>

<div class="total-container">
    <div *ngIf="cardsWhitQuantity?.length > 0" class="total-info">
        TOTAL : <span class="money">{{ total }} €</span>
    </div>
    <div class="pay" (click)="goToMyCart()">
        <button type="button" class="btn btn-pay">Check your shopping cart</button>
    </div>
</div>