@import '~src/styles/_variables';

.my-cart-content {
    width: 300px;
    display: flex;
    align-items: center;
    margin: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid $primary-dark-color;

    &--without-border {
        padding-bottom: 0;
        border-bottom: none;
    }

    .card-image {
        cursor: pointer;

        img {
            width: 50px;
        }
    }

    .card-info {
        margin: 0 1rem;
        font-size: 0.8rem;
    }

    .actions {
        width: 40px;

        .material-icons {
            cursor: pointer;

            &--delete {
                color: $error-color;
            }

            &--add {
                color: $success-color;
            }
        }
    }

    .empty-message {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}

.total-container {
    text-align: center;
    border-top: 1px solid $primary-dark-color;

    .total-info {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: $accentuation-light-color;

        .money {
            color: $error-color;
        }
    }

    .pay {
        margin: 1rem;

        .btn-pay {
            padding: 0.5rem 2rem;
            color: $primary-color;
            background-color: $accentuation-light-color;
        }
    }
}