@import '~src/styles/_variables';


.card-flex-container {
    margin: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid $primary-dark-color;
    border-radius: 6px;

    .image {
        margin-right: 1rem;
        cursor: pointer;

        img {
            width: 150px;
        }
    }

    .actions {
        width: 40px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .material-icons {
            cursor: pointer;

            &--delete {
                color: $error-color;
            }

            &--add {
                color: $success-color;
            }
        }
    }
}

.total-container {
    margin: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .total-info {
        margin-right: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: $accentuation-light-color;

        .money {
            color: $error-color;
        }
    }

    .btn-continue {
        width: 200px;
        color: $primary-color;
        background-color: $accentuation-light-color;
    }
}

.not-found-flex-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .not-found {
        font-size: 4rem;
        color: $secondary-color;

        .link {
            margin-top: 2rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}