$gray-colors: (
  'base': #8F8F8F,
  'gray-100': #FAFAFA,
  'gray-200': #F6F6F6,
  'gray-300': #EEE,
  'gray-400': #DDD,
  'gray-500': #CCC,
  'gray-600': #999,
  'gray-700': #666,
  'gray-800': #555,
  'gray-900': #444,
  'gray-1000': #333
);

$colors: (
  'white': #FFF,
  'black': #000,
  'gray': map-get($gray-colors, 'base'),
  'orange': #F16E00,
  'blue': #527EDB,
  'red': #DC3C10,
  'indigo': #6610F2,
  'green': #32C832,
  'yellow': #FC0,
  'purple': #A885D8,
  'pink': #FFB4E6,
  'teal': #50BE87,
  'cyan': #4BB4E6
);

/* Colors */
$primary-color: #FFFFFF;
$primary-light-color: map-get($gray-colors, 'gray-300');
$primary-dark-color: map-get($gray-colors, 'gray-600');
$secondary-color: map-get($gray-colors, 'gray-1000');
$accentuation-color: #031124;
$accentuation-light-color: #0f4897;

$success-color: map-get($colors, 'teal');
$info-color: map-get($colors, 'purple');
$warning-color: map-get($colors, 'yellow');
$error-color: map-get($colors, 'red');

$text-color: map-get($colors, 'black');


/* Breakpoints */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
