<div *ngIf="card" class="card">
    <div class="infos" [routerLink]="[ '/cards/' + card.id ]">
        <img [src]="card.imageUrl" class="card-img-top" alt="card_image">
        <div class="card-body card-body--custom">
            <div class="card-title card-title--flex">
                <span class="name">{{ card.name }} </span>
                <span class="price">{{ card.price }} €</span>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-add-to-my-cart" (click)="addCard(card)">Add to cart</button>
    </div>
</div>