@import '~src/styles/_variables';

.infos {
    cursor: pointer;

    .card-body {
        padding: 0.4rem;

        .card-title {
            &--flex {
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .name,
            .price {
                font-size: 1.1rem;
                font-weight: 600;
            }

            .name {
                text-align: left;
            }

            .price {
                color: $accentuation-light-color;
                min-width: 50px;
                text-align: end;
            }
        }
    }
}

.btn-add-to-my-cart {
    width: 100%;
    border-radius: 0 0 4px 4px;
    color: $primary-color;
    background-color: rgba($color: $accentuation-light-color, $alpha: 0.9);

    &:hover {
        background-color: $accentuation-light-color;
    }

    &:focus {
        box-shadow: 0 0 0 0.1rem $accentuation-color;
    }
}