@import '~src/styles/_variables';

.custom-navbar {
    background-image: linear-gradient(175deg, $accentuation-light-color 0%, $accentuation-color 100%);
    height: 60px;
    padding: 0 1rem;
    flex-wrap: nowrap;

    @media (max-width: $breakpoint-mobile) {
        padding: 0 0.2rem;
    }

    .logo-container {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary-color;
        cursor: pointer;
        outline: 0;

        .material-icons {
            &--home {
                font-size: 35px;
                margin-right: 0.4rem;
            }
        }

        .app-name {
            @media (max-width: $breakpoint-tablet) {
                display: none;
            }
        }
    }

    .search-container {
        .form-inline {
            flex-wrap: nowrap;

            .form-control {
                &--search {
                    width: 400px;

                    &:focus {
                        box-shadow: 0 0 0 0.1rem $primary-light-color;
                    }

                    @media (max-width: $breakpoint-tablet) {
                        width: 200px;
                        margin-right: 0.4rem;
                    }

                    @media (max-width: $breakpoint-mobile) {
                        width: 120px;
                        margin-right: 0.4rem;
                    }
                }
            }

            .btn {
                &--search {
                    border-color: $primary-light-color;

                    &:focus {
                        box-shadow: 0 0 0 0.1rem $primary-light-color;
                    }
                }
            }
        }
    }

    .my-cart-container {
        .my-cart-icon {
            display: flex;
            align-items: self-end;
            color: $primary-light-color;
            cursor: pointer;

            .material-icons {
                &--my-cart {
                    font-size: 35px;
                }
            }
        }
    }
}