<nav class="navbar fixed-top custom-navbar">
    <div class="logo-container" (click)="navigateToCardsPage()">
        <i class="material-icons material-icons--home">home</i>
        <span class="app-name">TabMo</span>
    </div>
    <div class="search-container">
        <form class="form-inline" (ngSubmit)="search()" #searchForm="ngForm">
            <input class="form-control mr-sm-2 form-control--search" type="search" placeholder="Keyword"
                name="keyword" [(ngModel)]="filters.name" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0 btn--search" type="submit">Search</button>
        </form>
    </div>
    <div ngbDropdown class="d-inline-block my-cart-container" display="dynamic" placement="bottom-right">
        <div class="my-cart-icon" id="dropdownMyCart" ngbDropdownToggle>
            <i class="material-icons material-icons--my-cart">local_grocery_store</i>
            <span class="badge badge-light">{{ nbCards }}</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownMyCart">
            <tabmo-cart-summary [nbCards]="nbCards" [total]="total" [cardsWhitQuantity]="cardsWhitQuantity"
                (closeCartSummary)="closeCartSummary()"></tabmo-cart-summary>
        </div>
    </div>
</nav>