@import '~src/styles/_variables';

.error-message {
    margin-top: 54px;
    padding: 1rem;
    border: 1px solid $error-color;
    background-color: $error-color;
    color: $primary-color;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.container {
    &--with-http-error {
        margin-top: 1rem;
    }
}