<div *ngIf="loaderService.isLoading | async" class="loader-component">
    <div class="spinner-border text-light spinner-border--edition">
        <span class="sr-only">Loading...</span>
    </div>
</div>