@import '~src/styles/_variables';

.buy-form {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: self-end;

    .form-group {
        margin-right: 1rem;

        .form-control {
            &--quantity {
                width: 90px;

                &:focus {
                    box-shadow: 0 0 0 1px rgba($color: $accentuation-light-color, $alpha: 0.5);
                }
            }
        }
    }

    .btn-add-to-my-cart {
        width: 200px;
        color: $primary-color;
        background-color: rgba($color: $accentuation-light-color, $alpha: 0.9);

        &:hover {
            background-color: $accentuation-light-color;
        }

        &:focus {
            box-shadow: 0 0 0 0.1rem $accentuation-color;
        }
    }
}