<form class="buy-form" (ngSubmit)="submit()" #buyForm="ngForm">
    <div class="form-group">
        <input class="form-control mr-sm-2 form-control--quantity" type="number" [min]="1" name="quantity"
            [(ngModel)]="quantity" [ngClass]="{'is-invalid': isSubmitted && errorMessage}" required>
        <div *ngIf="isSubmitted && errorMessage" class="invalid-feedback">
            {{ errorMessage }}
        </div>
    </div>
    <button class="btn btn-add-to-my-cart" type="submit" [disabled]="buyForm.invalid">Add to cart</button>
</form>