@import '~src/styles/_variables';

.flex-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    .not-found {
        font-size: 4rem;
        color: $secondary-color;

        .link {
            margin-top: 2rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}
