<div class="flex-container">
    <div class="not-found">
        <div class="message">
            404 page not fount
        </div>
        <div class="link">
            Try searching or go to <a [routerLink]="[ '/']">TabMo's home page</a>
        </div>
    </div>
</div>