/* You can add global styles to this file, and also import other style files */


/* override bootstrap container style */
.container {
    margin-top: 4rem !important;
}

/* override bootstrap dropdown-menu style */
.dropdown-menu {
    padding: 0 !important;
    max-height: 700px !important;
    overflow-y: scroll !important;
    border-radius: 6px 0 0 6px !important;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.dropdown-toggle {
    &::after {
        margin-top: 1rem;
    }
}

.spacer {
    flex-grow: 1;
}